@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap')


//
// Mixins
//

@mixin flex($direction, $justify, $align)
	display: flex
	flex-direction: $direction
	justify-content: $justify
	align-items: $align

@mixin color-text($color)
	background-color: $color
	background-size: 100%
	background-repeat: repeat
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent
	-moz-background-clip: text
	-moz-text-fill-color: transparent

//
// Text Colors / Fonts / Link Colors
//

$primary-text-color: #ffffff
$font: 'Rubik', sans-serif

//
// Elements
//

html, body 
	height: 100%
	width: 100%

*
	box-sizing: border-box
	margin: 0
	padding: 0
	font-family: $font
	color: $primary-text-color

*:focus-visible
	outline: 2px solid #FFFFFF
	border-radius: 8px

//
// Animations
//

@keyframes fadeIn
	0% 
		opacity: 0
	100% 
		opacity: 1